---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const allPosts = await getCollection("blog");
---

<BaseLayout pageTitle="Cobalt Blog">
  <p>These are the most recent posts on the blog.</p>
  <ul>
    {
      allPosts.sort().reverse().map((post) => (
        <BlogPost url={"/blog/" + post.slug} title={post.data.title} />
      ))
    }
  </ul>
</BaseLayout>
